body{
    background-image: url(Images/black.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}
nav{
    background-color: black;
    text-align: right;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    background-color: gold;
}